<div class = "handlebar-nav">
	<ul>
		<li> <a href= "./users">Volunteers</a> </li>
		{{!-- <li> | </li>
		<li> <a href= "./female-friends">Female Friends </li>
		<li> | </li>
		<li> <a href= "./male-friends">Male Friends </li> --}}
	</ul>
</div>


{{#each usersData }}
	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{pic_url}}" />
			<div class="caption">	
				<p id="handlebar-title">{{first_name}} {{last_name}} </p>		
			</div>
		</div>
	</div>
{{/each}}