
{{#mission }}
	<div class="col-md-6 col-sm-12">
		<p> VolunteerNOW seeks to be the place to find opportunities to serve your community.  Organizations in the community post upcoming events and their needs for volunteers.  Members of the community search these events to match their interests, talents and time availability.  Members also track their service record and check their calendar for upcoming commitments.  Organizations manage their volunteers, training and outreach.  New organizations can jumpstart their integration into the community.  Join now and start volunteering! </p>
	</div>
{{/mission}}


<script type="text/javascript">
$(".headerLabel").append("Our Mission");
</script>
